{
  "presets": [["env", {
    "targets": {
      "node": "current",
      "browsers": ["last 2 firefox versions", "last 2 chrome versions"],
      "useBuiltIns": true,
      "debug": true
    }}]],
  "plugins": ["transform-class-properties"]
}