{
  "presets": [["env", {
    "modules": false,
    "exclude": ["transform-regenerator"],
    "targets": {
      "browsers": ["last 2 firefox versions"],
      "useBuiltIns": true,
      "debug": true
    }}]],
  "plugins": ["transform-class-properties"]
}